
            <div class="timeline">
                {% for card in posts%}
                <div class="card-tl1">
                    <div class="title-tl">
                        <span>{{card.user.username}}</span>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="bg_img_tl">
                        <img src="{{card.image_url}}" alt="post image for {{card.user.username}}">
                    </div>
                    <div class="footer_card_tl">
                        <div class="likebar_tl">
                            <div class="3icons">
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="far fa-paper-plane"></i>
                            </div>
                            <div class="save_icon">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                        <div class="likes"><b>{{card.likes}} likes</b></div>
                        <div class="post_quote">
                            <p><b>{{card.user.username}} </b> {{card.title}} <a href=""> more</a></p>
                        </div>
                        <div class="comments">
                            {% if card.comments|length > 1%}
                            <a href="#" style="margin-left: 40px; margin-bottom: 10px; display: inline-block"> View all {{card.comments|length - 1}} comments</a>
                            <span><b>{{card.comments[0].user.username}} </b> {{card.comments[0].text}}</span>
                            {% elif card.comments|length == 1 %}
                            <span><b>{{card.comments[0].user.username}} </b> {{card.comments[0].text}}</span>
                            {% endif %}
                            <span class="timestamp_comment">{{card.display_time|upper}}</span>
                            
                        </div>
                        <hr>
                        <div class="post-comment">
                            <div>
                                <i class="far fa-smile"></i>
                                <label title="Enter your comment"> 
                                <input title="Form" type="text" style="border: 0px solid; outline:none; margin-left: 20px;" placeholder="Enter Something" label="form"></label> </div>
                            <a href="#" placeholder="Add a comment...">Post</a>
                        </div>

                    </div>
                </div>
                <br><br>
                {% endfor %}
               
            </div>