<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    {% include 'includes/navbar.html' %}
    <div class="main-content">
        <div></div>
        <div class="left-side">
            {% include 'includes/stories.html' %}
            {% include 'includes/cards.html' %}
        </div>
        {% include 'includes/suggestions.html' %}
        <div></div>

    </div>
</body></html>

<!-- 
To make it easy for users to add alternative text to their images, I would add a button underneath the image (next to the like, comment, and share buttons) where users can see it clearly. I believe accesibility is important and having a 4th button for easy access to edit alternative text is important and will make users aware of the importance of adding an alternative text for people using screen readers. 
-->
